@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Monoton&display=swap"); */

:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

@font-face {
  font-family: "Codystar";
  src: url("../public/font/Codystar-Regular.ttf");
}
* {
  font-family: sans-serif;
}
